version: '3.8'

services:
  app:
    image: ghcr.io/murilloimparavel/taskmanager_mcx:latest
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/taskmanager
      - NEXTAUTH_SECRET=supersecret
      - NEXTAUTH_URL=https://task.murilloalves.com.br
    depends_on:
      - postgres
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - traefik.enable=true
        - traefik.http.routers.taskmanager.rule=Host(`task.murilloalves.com.br`)
        - traefik.http.routers.taskmanager.entrypoints=websecure
        - traefik.http.routers.taskmanager.priority=1
        - traefik.http.routers.taskmanager.tls.certresolver=letsencryptresolver
        - traefik.http.routers.taskmanager.service=taskmanager
        - traefik.http.services.taskmanager.loadbalancer.server.port=3000
        - traefik.http.services.taskmanager.loadbalancer.passHostHeader=true

  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=taskmanager
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
